
.image-overlay {
  position: relative;
  z-index: 0;
}


.image-overlay:before {
  position: absolute;
  content: "";
  width: 103%;
  height: 100%;
  background: rgba(7, 7, 7, 0.473);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.image-overlay:hover:before {
background:transparent ;
}

.main-content {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.image-overlay:hover .main-content {
  position: fixed;
}
h4.TitleTop1 {
  width: 280px;
  margin: auto;
  font-weight: 400;
  font-size: 18px;
  margin-top: 35px;
}